@import "compass";
@import "config";

body {
	position: relative;
	max-width: 60em;
	margin: 0 auto;
}


/* ==|== Links ==== */



/* ==|== Typography ==== */



/* ==|== Headings ==== */



/* ==|== Lists ==== */



/* ==|== Figures ==== */



/* ==|== Forms ==== */



/* ==|== Tables ==== */



/* ==|== role navigation ==== */

#jump {
	display: none;
}

#nav {
	position: absolute;
	top: 0.5em;
	right: $smallscreenmargin;
	width: 27%;

	a {
		background: $white;
		border: none;
		@include link-colours($secondaryColor, $secondaryColor, darken($secondaryColor, 30%), $primaryColor, $primaryColor);
		padding: 0.05em;
	}
}

/* ==|== role banner ==== */

#header {
	width: 66%;
}

/* ==|== role main ==== */

.feature {
	@include fourwayfloats;
}

.stat {
	@include alternatingfloats;
}

.stats-sources {
	@include column-count(3);
}

/* ==|== role complementary ==== */



/* ==|== role contentinfo ==== */



/* ==|== Layout ==== */