<ol class="devices">
  <li class="device"><strong>Alcatel One Touch Fire E</strong> Mid range smartphone with snazzy Firefox OS.</li>
  <li class="device"><strong>Amazon Kindle Touch</strong> Popular e-reader with low capability browser and grayscale e-ink display. Oddball, good for being Future Friendly!</li>
  <li class="device"><strong>Apple iPad 3</strong> Popular Apple iOS tablet, with large 10 inch screen, high dpi, and a wide range of available browsers.</li>
  <li class="device"><strong>Apple iPhone 4</strong> Older Apple iOS smartphone, 3.5 inch, becoming popular as a cheap iOS device.</li>
  <li class="device"><strong>Apple iPhone 5</strong> Recent Apple iOS smartphone, high dpi 4 inch screen, widescreen aspect ratio.</li>
  <li class="device"><strong>Blackberry Curve 8520</strong> Older Blackberry (OS 5) with landscape screen, and touchpad / QWERTY input.</li>
  <li class="device"><strong>Blackberry Curve 9360</strong> Newer Blackberry (OS 7) with webkit browser.</li>
  <li class="device"><strong>Motorola Moto G</strong> Good but fairly low-end Android phone, running latest version of the OS. Large-ish screen size.</li>
  <li class="device"><strong>Nintendo 3DS XL</strong> Portable gaming console, Dual Screen. Unusual User Experience.</li>
  <li class="device"><strong>Nokia Asha 210</strong> Mid-range phone that sits somewhere between featurephone and smartphone.</li>
  <li class="device"><strong>Nokia Lumia 510</strong> Mid-range Windows phone, running Internet Explorer.</li>
  <li class="device"><strong>Nokia N97</strong> Mid range Symbian smartphone from manufacturer popular in Africa, with touchscreen and widescreen aspect ratio.</li>
  <li class="device"><strong>Nokia 5310 XpressMusic</strong> Mid range feature phone from manufacturer popular in Africa, on Series 40 OS, dpad and keypad input, running Opera Mini proxy browser.</li>
  <li class="device"><strong>Samsung Galaxy Pocket</strong> Low end smartphone from leading manufacturer, with most popular Android version (2.3 Gingerbread).</li>
  <li class="device"><strong>Samsung E250</strong> Low end featurephone, very popular in South Africa.</li>
  <li class="device"><strong>Sony Playstation Vita</strong> Popular gaming console with front touch screen and rear touchpad, and widescreen display.</li>
  <li class="device"><strong>Vodacom Smart Tab 2</strong> Cheap and cheerful tablet with latest version of Android and mid-size screen.</li>
  <li class="device"><strong>ZTE-G R236m (Cell C Branded)</strong> Low end, cheap, featurephone. WAP only.</li>
</ol>
