$primaryColor: #D06218; // orange
$secondaryColor:darken(#23ADE3,20%); // blue
// $tertiaryColor: #;
$black: #333;
$white: #fff;

$smallscreenmargin: 0.5em;
$breakpointM: '40em';
$breakpointL: '60em';

$headings: 'futura-pt';
$paragraphs: 'futura-pt';

@mixin link-colours($link, $visited, $hover, $focus, $active) {
	&:link {
		color: $link;
	}
	&:visited {
		color: $visited;
	}
	&:hover {
		color: $hover;
	}
	&:focus {
		color: $focus;
	}
	&:active {
		color: $active;
	}
}

@mixin horder ($color) {
	border-bottom: solid 0.25em $color;
}

// h5bp's visuallyhidden
@mixin hide {
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}

@mixin realign {
	margin-left: -$smallscreenmargin;
	padding: 1em 0 0.25em $smallscreenmargin;
}

@mixin no-mp {
	margin: 0;
	padding: 0
}

@mixin visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

@mixin ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }


@mixin clearfix {
	*zoom: 1;
	&:before {
		content: ""; display: table;
	}
	&:after {
		content: ""; display: table;
		clear: both;
	}
}

@mixin alternatingfloats {

	&:nth-of-type(n) {
		float: left;
		width: 48%;
		clear: left;
	}

	&:nth-of-type(2n) {
		float: right;
		width: 48%;
		clear: right;
	}
}

@mixin threewayfloats {

	&:nth-of-type(n) {
		float: left;
		width: 32%;
		clear: left;
	}

	&:nth-of-type(2n) {
		float: left;
		width: 32%;
		margin-left: 2%;
		clear: none;
	}

	&:nth-of-type(3n) {
		float: right;
		width: 32%;
		clear: right;
	}

	&:nth-of-type(4n) {
		clear: left;
	}
}

@mixin fourwayfloats {

	&:nth-of-type(n) {
		float: left;
		width: 24%;
		margin-right: 1%;
		clear: none;
	}

	&:nth-of-type(2n) {
		float: left;
		width: 24%;
		margin-right: 1%;
		clear: none;
	}
}

@mixin column-count($count) {
	-webkit-column-count: $count;
	-moz-column-count: $count;
	-ms-column-count: $count;
	-o-column-count: $count;
	column-count: $count;
}
