@import "config";

body {
	position: relative;
	max-width: 60em;
	margin: 0 auto;
}

/* ==|== role navigation ==== */

#jump {
	display: none;
}

[role="banner"] {
	margin-bottom: 3em;
}

[role="navigation"] {
	position: absolute;
	top: 5em;
	left: 1em;
	right: $smallscreenmargin;
	// width: 27%;

	li {
		display: inline-block;
		margin-right: 1em;
	}

	a {
		background: $white;
		border: none;
		@include link-colours($secondaryColor, $secondaryColor, darken($secondaryColor, 30%), $primaryColor, $primaryColor);
		padding: 0.05em;
		&:hover {
			text-decoration: underline;
		}
	}

	.nav-active a {
		@include link-colours(darken($secondaryColor, 30%), darken($secondaryColor, 30%), darken($secondaryColor, 30%), $primaryColor, $primaryColor);
	}
}

.navigation {
	background-color: $white;
}

/* ==|== role main ==== */

.feature {
	@include fourwayfloats;
}

.stat {
	@include alternatingfloats;
}

.stats-sources {
	@include column-count(3);
}


/* ==|== role complementary ==== */

#footer {
	margin: 1em 0;
}
