/* ==|== Links ==== */
/* line 6, ../sass/medium.scss */
.cta-email {
  max-width: 30em;
  margin: 1em auto;
}

/* ==|== Typography ==== */
/* ==|== Headings ==== */
/* ==|== Lists ==== */
/* ==|== Figures ==== */
/* ==|== Forms ==== */
/* ==|== Tables ==== */
/* ==|== role navigation ==== */
/* line 37, ../sass/medium.scss */
#jump {
  top: 2em;
  right: 3em;
  font-size: 1.5em;
}
/* line 41, ../sass/medium.scss */
#jump:after {
  top: 0.3em;
  left: 3em;
  width: 24px;
  height: 4px;
  border-top: 12px double white;
  border-bottom: 4px solid white;
}

/* ==|== role banner ==== */
/* line 53, ../sass/medium.scss */
#header {
  *zoom: 1;
}
/* line 55, ../sass/medium.scss */
#header a {
  float: left;
  width: 66%;
  margin-top: 0;
}
/* line 61, ../sass/medium.scss */
#header img {
  float: left;
  width: auto;
  height: auto;
  border-radius: 1em;
}
/* line 60, ../sass/_config.scss */
#header:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
#header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 71, ../sass/medium.scss */
.site-title {
  display: block;
  margin-top: 0.75em;
  font-size: 2em;
}

/* ==|== role main ==== */
/* line 79, ../sass/medium.scss */
.features {
  *zoom: 1;
}
/* line 60, ../sass/_config.scss */
.features:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
.features:after {
  content: "";
  display: table;
  clear: both;
}

/* line 71, ../sass/_config.scss */
.feature:nth-of-type(n) {
  float: left;
  width: 48%;
  clear: left;
}
/* line 77, ../sass/_config.scss */
.feature:nth-of-type(2n) {
  float: right;
  width: 48%;
  clear: right;
}

/* line 71, ../sass/_config.scss */
.chart:nth-of-type(n) {
  float: left;
  width: 48%;
  clear: left;
}
/* line 77, ../sass/_config.scss */
.chart:nth-of-type(2n) {
  float: right;
  width: 48%;
  clear: right;
}

/* line 92, ../sass/medium.scss */
.stats {
  *zoom: 1;
}
/* line 60, ../sass/_config.scss */
.stats:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
.stats:after {
  content: "";
  display: table;
  clear: both;
}

/* line 96, ../sass/medium.scss */
.stats-sources {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

/* line 100, ../sass/medium.scss */
.devices {
  *zoom: 1;
}
/* line 60, ../sass/_config.scss */
.devices:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
.devices:after {
  content: "";
  display: table;
  clear: both;
}

/* line 104, ../sass/medium.scss */
.device {
  margin-bottom: 1em;
}
/* line 71, ../sass/_config.scss */
.device:nth-of-type(n) {
  float: left;
  width: 48%;
  clear: left;
}
/* line 77, ../sass/_config.scss */
.device:nth-of-type(2n) {
  float: right;
  width: 48%;
  clear: right;
}
/* line 107, ../sass/medium.scss */
.device strong {
  display: block;
}

/* line 112, ../sass/medium.scss */
.reasons-list {
  *zoom: 1;
}
/* line 60, ../sass/_config.scss */
.reasons-list:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
.reasons-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 71, ../sass/_config.scss */
.reasons:nth-of-type(n) {
  float: left;
  width: 48%;
  clear: left;
}
/* line 77, ../sass/_config.scss */
.reasons:nth-of-type(2n) {
  float: right;
  width: 48%;
  clear: right;
}

/* line 120, ../sass/medium.scss */
.labs {
  *zoom: 1;
}
/* line 60, ../sass/_config.scss */
.labs:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
.labs:after {
  content: "";
  display: table;
  clear: both;
}

/* line 71, ../sass/_config.scss */
.lab:nth-of-type(n) {
  float: left;
  width: 48%;
  clear: left;
}
/* line 77, ../sass/_config.scss */
.lab:nth-of-type(2n) {
  float: right;
  width: 48%;
  clear: right;
}

/* line 128, ../sass/medium.scss */
.schedule {
  *zoom: 1;
}
/* line 60, ../sass/_config.scss */
.schedule:before {
  content: "";
  display: table;
}
/* line 63, ../sass/_config.scss */
.schedule:after {
  content: "";
  display: table;
  clear: both;
}
/* line 71, ../sass/_config.scss */
.schedule section:nth-of-type(n) {
  float: left;
  width: 48%;
  clear: left;
}
/* line 77, ../sass/_config.scss */
.schedule section:nth-of-type(2n) {
  float: right;
  width: 48%;
  clear: right;
}

/* ==|== role complementary ==== */
/* line 138, ../sass/medium.scss */
#footer {
  clear: both;
}

/* ==|== role contentinfo ==== */
/* ==|== Layout ==== */
