@charset "UTF-8";
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/style.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/style.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/style.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 34, ../sass/style.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, ../sass/style.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 38, ../sass/style.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 46, ../sass/style.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 47, ../sass/style.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 54, ../sass/style.scss */
a {
  color: #00e;
}

/* line 55, ../sass/style.scss */
a:visited {
  color: #551a8b;
}

/* line 56, ../sass/style.scss */
a:hover {
  color: #06e;
}

/* line 57, ../sass/style.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 60, ../sass/style.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 67, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 69, ../sass/style.scss */
b, strong {
  font-weight: bold;
}

/* line 71, ../sass/style.scss */
blockquote {
  margin: 1em 40px;
}

/* line 73, ../sass/style.scss */
dfn {
  font-style: italic;
}

/* line 75, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 77, ../sass/style.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 79, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 82, ../sass/style.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 85, ../sass/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 87, ../sass/style.scss */
q {
  quotes: none;
}

/* line 88, ../sass/style.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 90, ../sass/style.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 93, ../sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 94, ../sass/style.scss */
sup {
  top: -0.5em;
}

/* line 95, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 102, ../sass/style.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 103, ../sass/style.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 104, ../sass/style.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
/* line 116, ../sass/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 122, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 129, ../sass/style.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 136, ../sass/style.scss */
form {
  margin: 0;
}

/* line 137, ../sass/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 140, ../sass/style.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 147, ../sass/style.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 155, ../sass/style.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 161, ../sass/style.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 169, ../sass/style.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Consistent box sizing and appearance
 */
/* line 175, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 176, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, ../sass/style.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 183, ../sass/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 190, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 194, ../sass/style.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 201, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, ../sass/style.scss */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* apply a natural box layout model to all elements */
/* paulirish.com/2012/box-sizing-border-box-ftw/ */
/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/
/* ==|== primary styles =====================================================
   Author: Steve Barnett | Naga
   ========================================================================== */
/* line 221, ../sass/style.scss */
:not(a):focus {
  outline: none;
}

/* line 225, ../sass/style.scss */
body {
  font-family: "pragmatica-web", sans-serif;
}

/* ==|== Links ==== */
/* line 15, ../sass/_config.scss */
a:link {
  color: #126b8e;
}
/* line 18, ../sass/_config.scss */
a:visited {
  color: #126b8e;
}
/* line 21, ../sass/_config.scss */
a:hover {
  color: #010506;
}
/* line 24, ../sass/_config.scss */
a:focus {
  color: #d06218;
}
/* line 27, ../sass/_config.scss */
a:active {
  color: #d06218;
}
/* line 233, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* ==|== Typography ==== */
/* ==|== Headings ==== */
/* line 251, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
  margin: 0;
}

/* line 258, ../sass/style.scss */
header {
  color: #d06218;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 265, ../sass/style.scss */
article header {
  color: #333333;
  font-weight: bold;
}

/* line 272, ../sass/style.scss */
.page-title {
  border-bottom: solid 0.1em #d06218;
  padding: 1em 0 0 0;
  text-transform: capitalize;
}

/* line 281, ../sass/style.scss */
.philosophy article header {
  text-align: center;
}

/* ==|== Lists ==== */
/* ==|== Figures ==== */
/* ==|== Forms ==== */
/* ==|== Tables ==== */
/* line 301, ../sass/style.scss */
table {
  width: 100%;
}
/* line 2, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 14, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table th, table td {
  border-right: 1px solid #abe0f4;
  border-bottom: 1px solid #abe0f4;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table th:last-child, table th.last, table td:last-child, table td.last {
  border-right-width: 0px;
}
/* line 29, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr:last-child th, table tbody tr:last-child td, table tfoot tr:last-child th, table tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr.last th, table tbody tr.last td, table tfoot tr.last th, table tfoot tr.last td {
  border-bottom-width: 0px;
}

/* line 307, ../sass/style.scss */
td {
  text-align: center;
}

/* line 311, ../sass/style.scss */
caption {
  margin: 1em 0 0.5em;
  text-transform: uppercase;
}

/* ==|== role navigation ==== */
/* line 324, ../sass/style.scss */
#top {
  margin: 0 0.5em;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 329, ../sass/style.scss */
#jump {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0em;
  right: 1.5em;
}
/* line 340, ../sass/style.scss */
#jump:after {
  content: "";
  position: absolute;
  top: 0.4em;
  right: -1em;
  width: 12px;
  height: 2px;
  border-top: 6px double white;
  border-bottom: 2px solid white;
}

/* line 352, ../sass/style.scss */
.navigation {
  background: #d06218;
}
/* line 353, ../sass/style.scss */
.navigation header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 357, ../sass/style.scss */
.navigation a {
  margin: 0 0.5em;
  color: white;
}

/* ==|== role banner ==== */
/* line 365, ../sass/style.scss */
#header {
  background: #d06218;
}

/* line 375, ../sass/style.scss */
.site-title {
  margin-right: 2em;
  padding-left: 0.5em;
  text-transform: uppercase;
  font-size: 1em;
}
/* line 376, ../sass/style.scss */
.site-title a {
  color: white;
  text-decoration: none;
}

/* ==|== role main ==== */
/* line 390, ../sass/style.scss */
.maincontent {
  margin: 0 0.5em;
}

/* line 394, ../sass/style.scss */
.whereitsgoing {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* home: features */
/* line 422, ../sass/style.scss */
.features {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 427, ../sass/style.scss */
.features strong {
  display: block;
}
/* line 431, ../sass/style.scss */
.features p {
  text-align: left;
}

/* line 445, ../sass/style.scss */
.stats tr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 450, ../sass/style.scss */
.charts {
  text-align: center;
}
/* line 453, ../sass/style.scss */
.charts img {
  margin-bottom: 1em;
}

/* line 459, ../sass/style.scss */
.chart-label:after {
  content: "↓";
  margin-left: 0.5em;
}

/* ==|== role complementary ==== */
/* ==|== role contentinfo ==== */
/* ==|== Layout ==== */
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 515, ../sass/style.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 516, ../sass/style.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 519, ../sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 522, ../sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 525, ../sass/style.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 528, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 531, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 532, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 533, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 543, ../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 544, ../sass/style.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 545, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 546, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 547, ../sass/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 548, ../sass/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 549, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 550, ../sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 551, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 553, ../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 554, ../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
